<<<<<<< HEAD
.loginBlock {
    border: 1px solid gray;
    background: lightblue;
    padding: 30px;
    margin: 30vh auto;
    border-radius: 5px;
}
.w-100 {
    width: 100%;
=======
body {
    background-color: lightblue;
}
.signupBlock {
    border: 1px solid gray;
    background: white;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    top: 60px
}
.w-100 {
    width: 100%;
}
.bgBLueviolet {
    background-color: blueviolet;
}
button {
    background-color: blueviolet;
>>>>>>> 631533c8cd7fc6472dd5d0b899a9311ae34db897
}